<form name="parentScope.formdata" class="form-horizontal">
	<div>
		<div class="form-group">
			<label for="password-old" class="col-sm-2 control-label">原密码</label>
			<div class="col-sm-10">
				<input class="form-control" type="password" maxlength="32" ng-model="parentScope.pwd.old" name="password-old" id="password-old" required autocomplete="off" />
			</div>
		</div>
		<div class="form-group">
			<label for="password-new" class="col-sm-2 control-label">新密码</label>
			<div class="col-sm-10">
				<input class="form-control" type="password" maxlength="32" ng-model="parentScope.pwd.new" name="password-new" id="password-new" required autocomplete="off" />
			</div>
		</div>
		<div class="form-group">
			<label for="password-confirm" class="col-sm-2 control-label">确认</label>
			<div class="col-sm-10">
				<input class="form-control" type="password" maxlength="32" ng-model="parentScope.pwd.confirm" name="password_confirm" compare-to="password-new" id="password-confirm" required autocomplete="off" />
			</div>
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="parentScope.clear()">清空</button>
		<button id="dialog-btn-primary" type="button" ng-disabled="parentScope.formdata.$invalid" ng-click="parentScope.changePassword()" class="btn btn-primary">提交更改</button>
	</div>
</form>