<div class="wrapper" ng-controller="AppCtrl">
	<div ng-include="'js/modules/app/templates/header.html'"></div>
	<div ng-include="'js/modules/app/templates/menus.html'"></div>
	<div ng-include="'js/modules/app/templates/tabs.html'"></div>
	<footer class="main-footer" style="line-height: 36px;padding: 0 30px;">
		<div class="pull-right hidden-xs">
			<b>Version</b> 3.0.0
		</div>
		<strong>Copyright © 2012-2017 </strong> Bingo-yes All rights reserved.
	</footer>
	<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
	<iframe src="" style="display:none" id="download_file"></iframe>
</div>