<div class="wrapper" ng-controller="AppCtrl">
	<div ng-include="'js/modules/app/templates/header.html'"></div>
	<div ng-include="'js/modules/app/templates/menus.html'"></div>
	<div ng-include="'js/modules/app/templates/tabs.html'"></div>
	<footer class="main-footer" style="height: 34px;">
		<div class="pull-right hidden-xs" style="margin-right: 20px;">
			<b>Version</b> {{version}}
		</div>
		{{copyright}}
	</footer>
	<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
	<iframe src="" style="display:none" id="download_file"></iframe>
</div>