<div class="login page-login" ng-controller="LoginPageCtrl">   
    <div class="login__content">
        <div class="login__logo">
            <div class="header--logo__picture">
                <img class="img-responsive" src="images/efs-logo.png">
            </div>
            <div class="header--title" style="padding-left:2px">
                <h3 style="font-size:28px">电子围栏系统</h3>
            </div>
        </div>
        <div class="login__content__form-container">
            <div>
                <form ng-submit="login()" name="loginForm">
                    <div class="fg-form-login-wrap">
                        <div class="fg-form-login-wrap__inner">
                            <div class="form-group">
                                <input type="text" id="fg-login" name="login" ng-model="credentials.account" class="form-control" required><!-- fa-arrow-circle-o-right-->
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="fg-password" ng-model="credentials.password" class="form-control" required autocomplete="off">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="login-sub">
                            	<a href="#" class="forget-password">忘记密码？</a>
                            	<button type="submit" class="login-btn">登录 <img src="images/btn-login.png" /></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>