<div class="content content-column" ng-controller="WarningDeviceCtrl" style="position: relative;">
	<div class="condition" style="border: 1px solid #ccc;border-bottom: none;">
		<div ng-class="{true: 'alwaysShow', false: 'toogleShow'}[isActive]">
			<div class="toogle-input mb-10">
				<div class="input-group w100 pos-r" style="width: 236px;height: 34px;">
					<span class="input-group-addon add-bg">组名称</span>
					<select class="form-control pd-right" ignore-empty-value ng-model="query.domainGroup" name="name" id="groupID" style="padding: 0;">
						<option value="{{v.adCode}}" ng-repeat="v in vendorChoice">{{v.fullPath}}</option>
					</select>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group w100">
					<span class="input-group-addon add-bg">设备编号</span>
					<input type="text" class="form-control" ng-model="query.deviceName__contains">
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group sform">
					<span class="input-group-addon add-bg">时间范围</span>
					<input class="form-control datetime sform" placeholder="开始时间" date-time-selector="start" ng-model="query.timestamp__ge" ignore-empty-value/>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group eform">
					<span class="input-group-addon add-bg" style="width: 60px;">至</span>
					<input class="form-control datetime" placeholder="结束时间" date-time-selector="end" ng-model="query.timestamp__lt" ignore-empty-value/>
				</div>
			</div>
		</div>
		<button class="btn btn-primary searchBtn" ng-click="search()" style="right: 30px;">查询</button>
			
		<!--查询条件框需折行显示时，将下面代码取消注释-->
		<div ng-click="toogleH()" class="toogle-btn" ng-if="isShow">
			<img src="images/down.png" ng-if="isActive"/>
			<img src="images/up.png" ng-if="!isActive" />
		</div>
		
	</div>	
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns class="grid" auto-height></div>
	<div class="mark-div" ng-if="showLoading">
		<img src="images/loading_bg.gif" style="width: 128px;height: 128px;margin: 100px auto;display: block;"/>
	</div>
</div>