<div class="content content-column" ng-controller="AuditLogCtrl">
	<div class="condition" style="border: 1px solid #ccc;border-bottom: none;">
		<div ng-class="{true: 'alwaysShow', false: 'toogleShow'}[isActive]">
			<div class="toogle-input mb-10">
				<div class="input-group w100">
					<span class="input-group-addon add-bg">组名称</span>
					<div id="divselect" class="divselect">
					    <span class="cite" id="cite1" style="padding-left: 10px;"></span>
					  	<ul>
					  		<li ng-repeat="group in vendorChoice1">					  			
					  			<a ng-click="groupNames(this)" href="javascript:;" selectid="{{group.adCode}}"><i class="fa fa-bullseye" style="width: 14px;height: 14px;color: #3c8dbc;"></i>{{group.fullPath}}</a>
					  		</li>
					    </ul>
					</div>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group w100">
					<span class="input-group-addon add-bg">终端网络供应商</span>
					<select class="form-control pd-right" ng-model="query.mobileNetCarrier">
						<option value=" ">全部</option>
						<option value="0">移动</option>
						<option value="1">联通</option>
						<option value="2">电信</option>
						<option value="3">其他</option>
						<option value="4">境外</option>
					</select>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group sform">
					<span class="input-group-addon add-bg">时间范围</span>
					<input class="form-control datetime sform" placeholder="开始时间" date-time-selector="start" ng-model="query.timestamp__ge" ignore-empty-value/>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group eform">
					<span class="input-group-addon add-bg" style="width: 60px;">至</span>
					<input class="form-control datetime" placeholder="结束时间" date-time-selector="end" ng-model="query.timestamp__lt" ignore-empty-value/>
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group">
					<span class="input-group-addon add-bg">IMSI</span>
					<input type="text" class="form-control" maxlength="15" ng-model="query.imsi">				
				</div>
			</div>
			<div class="toogle-input mb-10">
				<div class="input-group">
					<span class="input-group-addon add-bg">IMEI</span>
					<input type="text" class="form-control" maxlength="15" ng-model="query.imei">				
				</div>
			</div>		
		</div>
		<button class="btn btn-primary searchBtn" ng-click="search()" style="right: 30px;">查询</button>
			
		<!--查询条件框需折行显示时，将下面代码取消注释-->
		<div ng-click="toogleH()" class="toogle-btn" ng-if="isShow">
			<img src="images/down.png" ng-if="isActive"/>
			<img src="images/up.png" ng-if="!isActive" />
		</div>
		
	</div>	
	
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns class="grid" auto-height></div>

</div>