<div class="myx-modal">
	<div class="myx-modal-box">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">{{title}}</h3>
				<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
			</div>
			<form class="form-horizontal" role="form" name="form">
				<div class="box-body pd-right">
					<div class="form-group">
                        <label class="col-sm-2 control-label">组名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="mesport" ng-model="group.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">坐标系</label>
                        <div class="col-sm-10">
                            <input type="radio" id="imsi" name="choose" ng-model="mapType" ng-checked="chooseBaidu" value="baidu" /> 百度地图
							<input type="radio" id="mac" name="choose" ng-model="mapType" ng-model="chooseGps" value="gps" /> GPS坐标
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">中心点</label>
                        <div class="col-sm-10">
                            <div class="row">
								<div class="col-lg-6 col-md-6">
									<input type="text" class="form-control" ng-model="group.lon" placeholder="经度">
								</div>
								<div class="col-lg-6 col-md-6">
									<input type="text" class="form-control" ng-model="group.lat" placeholder="纬度">
								</div>
							</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="col-sm-2 control-label">描述信息</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="content" rows="3" ng-model="group.description"></textarea>
                            <p class="col-lg-12 col-md-12" style="padding: 6px 0 0 0;">
				                填写的GPS坐标会被自动转换为百度坐标
				            </p>
                        </div>
                    </div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" ng-click="groupAdd()" ng-disabled="!form.$valid">确定</button> 
				</div>
			</form>
		</div>
	</div>
</div>